body {
  background-color: #efe2da;
  font-size: 18px;
}

header {
  margin: 0 -15px;
  text-align: center;
}

h1 {
  color: #bf0c0c;
  font-family: 'Fredoka One', 'Arial', sans-serif;
  font-size: 72px;
  font-style: italic;
}

h2 {
  color: #bf0c0c;
  font-family: 'Fredoka One', 'Arial', sans-serif;
  font-style: italic;
  letter-spacing: .1rem;
}

h5 {
  background-color: #333;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  color: white;
  display: inline-block;
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding: 8px 16px;
  width: auto;
}

img {
  padding: 24px;
  width: 100%;
}

.spotlight {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 42px;
}

.emphasis {
  font-size: 150%;
  font-weight: 500;
}

.black-heading {
  background-color: rgb(45,45,45);
  border-radius: 8px;
  color: white;
}

.black-wrapper p {
  text-align: center;
  margin:0;
}

.circle svg {
  height: auto;
  width: auto;
}

.person {
  /* height: 110px; */
}

.person p {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}

.person p.title {
  width: 95px;
}

.person svg {
  display: inline-block;
  height: 54px;
}

g {
  display: inline-block;
  height: 54px;
  width: auto;
}
