body {
  font-size: 18px;
}

header {
  background-color: #bf0c0c;
  margin: 0 -15px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}

h2 {
  color: white;
  font-style: italic;
  font-weight: 700;
}

img {
  padding: 24px;
  width: 100%;
}

.spotlight {
  font-size: 24px;
  line-height: 42px;
}

.emphasis {
  font-size: 200%;
}

.black-wrapper {
  display: block;
  width: 100%;
  height: auto;
  /* padding: 50% 0;
  border-radius: 50%; */
  background-color: #333;
  color: white;
}

.black-wrapper p {
  text-align: center;
  /* top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
  margin:0;
}

.beige {
  background-color: #f5deb3;
  color: #333;
}

.circle svg {
  height: auto;
  width: auto;
}

.person p {
  display: inline-block;
  width: 80px;
}

.person svg {
  display: inline-block;
  height: 40px;
}

g {
  display: inline-block;
  height: 40px;
  width: auto;
}
